





body{
    background-color:rgb(155, 159, 192);
    font-family: monospace;
    
    background-image: url(./Imagens/background.jpg);
    
}



.indice{  
    background-image: url(./Imagens/background-cyber.jpg);
    background-size: cover;
    
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;   
    padding: 10px;
    margin: 0;
    color: white;
}

.indice h1{
    font-size: 38px;
    text-decoration: underline;
    color: rgb(212, 223, 236);
}

.formatar-indice a{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;    
    text-decoration:none;
    color: rgb(180, 194, 211);  
    line-height: 50px;
    
    /* padding: 5px 50px;
    border-radius: 20%;
    border: 2px solid rgb(143, 129, 129);

    background-color: rgb(13, 32, 48); */
    

    
}



.identidade{
    font-family:monospace;
    text-align: center;
    color: rgb(16, 34, 70);    
}

.foto-centralizada{
    float: right;
    padding: 10px;
    background-color: rgb(44, 51, 83);
}

.descricao{
    color: rgb(3, 22, 58);
    margin: -50px 10px 30px 20px;
}

.habilidades{
    color: rgb(3, 22, 58);
    
    background-image: url(./Imagens/habilidades-futuro2.jpg);
    background-size:cover;
    padding: 40px 30px;
    margin: 0;



}

.habilidades li:hover{
    color: white;
}

.links{
    position: absolute;
    color: rgb(3, 22, 58);
}







/* p{
    font-family:'Times New Roman', Times, serif;
} */

.formatar-indice{
    color: rgb(16, 34, 70);
    
}

.destaque-informacoes{
    color:rgb(1, 4, 29);
    font-size: 18px;
}

.destaque-item-lista-prioridade-alta{
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    color:rgb(1, 4, 29);
}

.destaque-item-lista-prioridade-medio{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color:rgb(1, 4, 29);
}

h2{
    text-align: center;
    font-size: 36px;
}


        
